@charset "UTF-8";
/*
 * 関数定義用ファイル
 */
/*
 * 流体タイポ計算用 関数
 *
 * @use parts/_fonts.scssファイルを参照
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

li,
dd {
  list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/*
 * メディアクエリ用mixin
 */
.font-10-14 {
  font-size: clamp(0.625rem, 0.3755868545vw + 0.536971831rem, 0.875rem);
}

.font-12-14 {
  font-size: clamp(0.75rem, 0.1877934272vw + 0.7059859155rem, 0.875rem);
}

.font-12-15 {
  font-size: clamp(0.75rem, 0.2816901408vw + 0.6839788732rem, 0.9375rem);
}

.font-14-16 {
  font-size: clamp(0.875rem, 0.1877934272vw + 0.8309859155rem, 1rem);
}

.font-14-20 {
  font-size: clamp(0.875rem, 0.5633802817vw + 0.7429577465rem, 1.25rem);
}

.font-14-24 {
  font-size: clamp(0.875rem, 0.9389671362vw + 0.6549295775rem, 1.5rem);
}

.font-15-20 {
  font-size: clamp(0.9375rem, 0.4694835681vw + 0.8274647887rem, 1.25rem);
}

.font-16-20 {
  font-size: clamp(0.9375rem, 0.4694835681vw + 0.8274647887rem, 1.25rem);
}

.font-16-24 {
  font-size: clamp(1rem, 0.7511737089vw + 0.823943662rem, 1.5rem);
}

.font-16-18 {
  font-size: clamp(1rem, 0.1877934272vw + 0.9559859155rem, 1.125rem);
}

.font-16-20 {
  font-size: clamp(1rem, 0.3755868545vw + 0.911971831rem, 1.25rem);
}

.font-20-24 {
  font-size: clamp(1.25rem, 0.3755868545vw + 1.161971831rem, 1.5rem);
}

.font-21-24 {
  font-size: clamp(1.3125rem, 0.2816901408vw + 1.2464788732rem, 1.5rem);
}

.font-36-65 {
  font-size: clamp(2.25rem, 2.7230046948vw + 1.6117957746rem, 4.0625rem);
}

.font-36-48 {
  font-size: clamp(2.25rem, 1.1267605634vw + 1.985915493rem, 3rem);
}

.font-40-48 {
  font-size: clamp(2.5rem, 0.7511737089vw + 2.323943662rem, 3rem);
}

.font-48-64 {
  font-size: clamp(3rem, 1.5023474178vw + 2.6478873239rem, 4rem);
}

.font-48-72 {
  font-size: clamp(3rem, 2.2535211268vw + 2.4718309859rem, 4.5rem);
}

.font-48-84 {
  font-size: clamp(3rem, 3.3802816901vw + 2.2077464789rem, 5.25rem);
}

.font-48-110 {
  font-size: clamp(3rem, 5.8215962441vw + 1.6355633803rem, 6.875rem);
}

.font-48-96 {
  font-size: clamp(3rem, 4.5070422535vw + 1.9436619718rem, 6rem);
}

.font-42-100 {
  font-size: clamp(2.625rem, 5.4460093897vw + 1.3485915493rem, 6.25rem);
}

.font-50-100 {
  font-size: clamp(3.125rem, 4.6948356808vw + 2.0246478873rem, 6.25rem);
}

.font-40-80 {
  font-size: clamp(2.5rem, 3.7558685446vw + 1.6197183099rem, 5rem);
}

.font-100-200 {
  font-size: clamp(6.25rem, 9.3896713615vw + 4.0492957746rem, 12.5rem);
}

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*======= Colors ========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  /*======= Fonts and typography ========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat Alternates", sans-serif;
  --biggest-font-size: 2rem;
  --big-font-size: 1.5rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  /*======= Fonts weight ========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
  /*======= Line height ========*/
  --font-light: 1.5;
  /*======= z index ========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*======= Responsive typography  ========*/
@media (min-width: 1150px) {
  :root {
    --biggest-font-size: 4rem;
    --big-font-size: 3rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
  }
}
html {
  font-size: 100%;
}

body {
  font-family: var(--body-font);
  background-color: var(--black-color);
  color: var(--white-color);
}
body.no-scroll {
  overflow-y: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  color: inherit;
}

body {
  overflow-x: hidden;
}

body {
  overflow-y: scroll;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-weight: var(--font-semi-bold);
}

/* Navigation for mobile devices */
@media (max-width: 1149px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right 0.4s;
  }
  .nav__menu.show-menu {
    right: 0;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .nav__link {
    display: inline-block;
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    padding: 0.75rem 0.75rem 0.75rem 0;
  }
}
/* Show menu */
.drawer-icon {
  width: 30px;
  height: 21px;
  position: relative;
  background-color: transparent;
}
.drawer-icon.js-open .drawer-icon__bar:nth-child(1) {
  top: 10px;
  rotate: 30deg;
}
.drawer-icon.js-open .drawer-icon__bar:nth-child(2) {
  display: none;
}
.drawer-icon.js-open .drawer-icon__bar:nth-child(3) {
  top: 10px;
  rotate: -30deg;
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 3px;
  border-radius: 6px;
  background-color: var(--white-color);
  transition: transform 0.4s linear, top 0.4s linear;
}
.drawer-icon__bar:nth-child(2) {
  top: 9px;
}
.drawer-icon__bar:nth-child(3) {
  top: 18px;
}

/*=============== HOME ===============*/
.home__swiper {
  position: relative;
  z-index: var(--z-tooltip);
}

.home__article {
  position: relative;
  padding-top: 13rem;
  width: 100%;
  height: 100vh;
}

.home__img,
.home__shadow,
.home__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home__img {
  overflow: hidden;
  z-index: -1;
}
.home__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.home__shadow {
  background-color: rgba(0, 0, 0, 0.05);
  z-index: -1;
}

.home__data {
  text-align: center;
}

.home__subtitle {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
  font-weight: var(--font-semi-bold);
  letter-spacing: 0.05em;
}

.home__title {
  font-size: var(--biggest-font-size);
  margin-bottom: 2.5rem;
  font-weight: var(--font-bold);
  letter-spacing: 0.05em;
}

.home__button {
  color: var(--white-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  font-weight: var(--font-semi-bold);
  letter-spacing: 0.05em;
}
.home__button:hover i {
  transform: translateX(0.5rem);
}

.home__button i {
  font-size: 1.5rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.home__social {
  position: absolute;
  z-index: var(--z-tooltip);
  left: 1.5rem;
  bottom: 4rem;
  display: grid;
  row-gap: 1.5rem;
}

.home__social-link {
  font-size: 1.5rem;
  color: var(--white-color);
}

/* Swiper class */
.swiper {
  height: 100vh;
}

.swiper-pagination {
  width: initial;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  top: 6rem;
  left: initial;
  right: 4rem;
  font-size: var(--big-font-size);
  font-weight: var(--font-semi-bold);
  display: flex;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  align-items: center;
}

.swiper-pagination-total {
  font-size: var(--normal-font-size);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  font-size: 2rem;
  color: var(--white-color);
  width: initial;
  height: initial;
  position: initial;
  outline: none;
}

.swiper-navigation {
  position: absolute;
  z-index: var(--z-tooltip);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  bottom: 4rem;
  right: 1.5rem;
  display: flex;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media (min-width: 768px) {
  .nav__menu {
    width: 50%;
  }
}
/* For large devices */
@media (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
  .nav {
    height: calc(var(--header-height) + 2rem);
  }
  .drawer-icon {
    display: none;
  }
  .nav__menu {
    width: initial;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
  .home__data {
    text-align: initial;
  }
  .home__subtitle {
    margin-bottom: 1rem;
  }
  .home__title {
    margin-bottom: 4.5rem;
  }
  .home__content {
    max-width: 1120px;
    margin-inline: auto;
    left: 0;
    right: 0;
  }
  .home__social {
    left: 0;
  }
  .swiper-pagination {
    top: 10rem;
  }
  .swiper-pagination-total {
    font-size: 1.5rem;
  }
  .swiper-navigation {
    right: 0;
    -moz-column-gap: 3.5rem;
         column-gap: 3.5rem;
  }
  .swiper-button-prev,
.swiper-button-next {
    font-size: 3rem;
  }
}
/* For taller devices */
@media (min-width: 800px) and (min-height: 800px) {
  .home__article {
    padding-top: 17rem;
  }
  .swiper-pagination {
    top: 13rem;
  }
}
/* For 2K resolutions (2048 x 1152) */
@media (min-width: 2048px) {
  .container,
.home__content {
    max-width: 1550px;
  }
}